.silopen { /* левый верхний текст */
    font-family: "PeaceSans";
    margin-top: 36px;
    margin-left: 49px;
    font-size: 15px;
    line-height: 21px;
    color: #EC1D23;
}
.freefont { /* правый верхний текст */
    font-family: "PeaceSans";
    margin-top: 36px;
    margin-right: 49px;
    text-align: right;
    font-size: 15px;
    line-height: 21px;
    color: #EC1D23;
}
.smelfont { /* подзаголовок первый экран */
    text-align: center;
    margin-top: 59px;
    line-height: 30px;
    font-family: "PeaceSans";
    color: #EC1D23;

}






.mainscreen { /* первый экран */
    display: flex;
    justify-content: space-between;
    background-color: #F1EEE7;
}
.ff {
    display: flex;
    justify-content: center;
    background-color: #F1EEE7;
}