* {
    box-sizing: border-box;
}
body {
    width: 1440px;
    display: block;
    margin: 0 auto;
    font-family:'PeaceSans';
    background: #F1EEE7;
    color: #EC1D23;
    position: relative;
}
body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/maket.svg');
    width: 1440px;
    height: 9926px;
    opacity: 0.1;
}
/* стили текста */
h1 {
    font-size: 149px;
    line-height: 128px;
    letter-spacing: -6px;
    text-align: center;
    margin-top: 22.6px;
}
h2 {
    font-size: 102px;
    letter-spacing: -4%;
    line-height: 93px;
}
/* секция 1 */
.section-1 {
    display: flex;
    justify-content: space-between;
}
.section-1 p {
    font-size: 16px;
    line-height: 22px;
}
.section-1 div:nth-of-type(1) p {
    padding: 31px 49px;
}
.section-1 div:nth-of-type(2) p {
    text-align: right;
    margin-right: 49px;
    margin-top: 31px;
}
/* секция 2 */
.section-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-2 h3 {
    text-align: center;
    margin-top: 29px;
    line-height: 31px;
    font-size: 22px;
}
.section-2 img {
    position: absolute;
    top: 319px;
    left: 306px;
    height: 825px;
    width: 827px;
}
.section-2 #us {
    position: relative;
    left: 925px;
    top: 12px;
    transform: rotate(14.3deg);
    text-align: center;
    width: 104px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -3%;
}
.section-2 #A {
    position: relative;
    font-size: 47px;
    -webkit-text-stroke: 2px #EC1D23;
    color: #F1EEE7;
    transform: rotate(17deg);
    left: 563px;
    width: 37px;
    top: 60px;
}
.section-2 #G {
    position: relative;
    font-size: 47px;
    -webkit-text-stroke: 2px #EC1D23;
    color: #F1EEE7;
    transform: rotate(-70deg);
    left: 465px;
    width: 29px;
    top: 215px;
}
.section-2 #J {
    position: relative;
    font-size: 28px;
    -webkit-text-stroke: 2px #EC1D23;
    color: #F1EEE7;
    transform: rotate(70deg);
    width: 32px;
    left: 434px;
    top: 321px;
}
.section-2 #f {
    position: relative;
    font-size: 47px;
    -webkit-text-stroke: 2px #EC1D23;
    color: #F1EEE7;
    transform: rotate(40deg);
    width: 22px;
    left: 662px;
    top: 293px;
}
.section-2 #M {
    position: relative;
    font-size: 36px;
    -webkit-text-stroke: 2px #EC1D23;
    color: #F1EEE7;
    transform: rotate(-97deg);
    width: 40px;
    left: 814px;
    top: 138px;  
}





























